config/database.yml
config/deploy.rb
uploads/
tmp/
log/
.DS_Store
elasticsearch-5.6.3/data/nodes
*.log
*.st
*.ckp
*.tlog
*.cfe
*.si
*.cfs
elasticsearch-5.6.3/config/elasticsearch.yml

# Ignore encrypted secrets key file.
config/secrets.yml.key
config/secrets.yml.enc
config/secrets.yml
